<% if edit %>
    <% action = album_url(album) %>
    <% button_text = 'Edit album'%>
<% else %>
    <% action = albums_url %>
    <% button_text = 'Make a album' %>
<% end %>

<form action = '<%= action%>' method='post'>
    <% if edit %>
        <input type='hidden' name='_method' value='patch'>
    <% end %>

    <input type='hidden' name= 'authenticity_token' value='<%= form_authenticity_token %>'>

    <label for='album_title'>Title:</label>
    <input type= 'text' id='album_title' name='album[title]'>
    <br>
    <label for='album_year'>Year:</label>
    <input type="number" id='album_year' min="1900" max="2099" step="1" value="2020" />
    <br>
    <label for="band_id">Band:</label>
    <select name="album[band_id]" id="band_id">
        <option disabled selected>-- select a band --</option>
        <% Band.all.each do |band| %>
        <option
            <%= album.band_id == band.id ? "selected" : "" %>
            value="<%= band.id %>">
            <%= band.name %>
        </option>
        <% end %>
    </select>
    <br>
    <button><%= button_text %></button>
</form>